
*.pyc
Assets/PCB/flatFoot.kicad_pro
Assets/PCB/flatFoot.kicad_prl
Assets/PCB/circle.kicad_prl
Assets/PCB/circle.kicad_pro
Assets/PCB/fp-info-cache
*.kicad_prl
*.kicad_pro
*.lck
Code/Data collection/robot/random_forest_model.pkl
