
*.pyc
Assets/PCB/flatFoot.kicad_pro
Assets/PCB/flatFoot.kicad_prl
Assets/PCB/circle.kicad_prl
Assets/PCB/circle.kicad_pro
Assets/PCB/fp-info-cache
*.kicad_prl
*.kicad_pro
*.lck
Code/Data collection/robot/random_forest_model.pkl
Assets/PCB/flatFoot_alt_design.csv
Assets/PCB/flatFoot_alt_design.kicad_pcb
Assets/PCB/Gerber.zip
Assets/PCB/flatFoot_alt_design.kicad_pcb
*.gbr
Assets/PCB/Gerber/flatFoot_alt_design-bottom-pos.csv
*.gbrjob
*.drl
*.xlsx
*.pos
Code/Data collection/edges/xdata1-.npy
Assets/PCB/outputs.zip
